# Dependencies (puede regenerar npm install)
node_modules/

# React/Vite build
dist/

# Environment variables (contenido sensible)
.env
.env.*
!.env.example
!frontend/.env.example

# Java/Spring Boot build (se genera al compilar con Sptring Boot)
target/

# IDE/editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db