/* Reset básico. Reduce diferencias por defecto entre navegadores 
    sin eliminar todos los estilos de forma agresiva.*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

button,
input,
textarea,
select {
    font: inherit;
}